.landingPage{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .error{
        font-family: 'Poppins', sans-serif;
        color: rgb(219, 19, 19);
        position: absolute;
        top: 50%;
        left: 30%;
        font-weight: bolder;
    }
    .landingContainer{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        width: 90%;
        color: white;
        height: 100%;
        position: absolute;
        z-index: 5;
        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: auto;
            min-height: 50vh;
            font-family:"Quicksand", sans-serif;
            position: relative;
            width: 100%;
            .movieName{
                font-size: 2.8rem;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
            }
            .rating{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                i{
                    color: gold;
                }
                p{
                    font-size: 1rem;
                    margin-left: .5rem;
                }
            }
            .about{
                font-size: 1.2rem;
                width: 50%;
            }
            .watchTrailer{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 3rem;
                width: 9rem;
                background-color: rgb(246, 25, 25);
                border-radius: .5rem;
                color: white;
            }
        }
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 900px) {
    .landingPage{
        .landingContainer{
            .info{
                min-height: 30vh;
                .movieName{
                    font-size: 1.7rem;
                    font-weight: bolder;
                }
                .rating{
                    font-weight: bolder;
                }
                .about{
                    width: 80%;
                    font-size:.8rem;
                    font-weight: bolder;
                    word-wrap: break-word;
                }
                .watchTrailer{
                    height: 2rem;
                    width: 6rem;
                    background-color: rgb(246, 25, 25);
                    border-radius: .5rem;
                    color: white;
                    font-size: .6rem;
                }
            }
        }
    }
}
