*{
    margin: 0;
}
.error{
    font-family: 'Poppins', sans-serif;
    color: rgb(219, 19, 19);
    position: absolute;
    top: 50%;
    left: 30%;
    font-weight: bolder;
}
.movieDetailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    .sideBar{
        width: 28%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        padding: 1rem;
        padding:.4rem;
        box-shadow: 0px 0px 0px 1px 1px;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            .logoo{
                height: 2.8rem;
                width: 2.8rem;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
        p{
            height: 6rem;
            width: 100%;
            display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                padding-left: .4rem;
            &:hover{
                color: rgb(246, 25, 25) ;
            }
            i{
                margin-right: .4rem;
            }
        }
        .movies{
            background-color:  rgba(246, 25, 25,.1);
        }
    }
    .moviePage{
        height: 100%;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content:flex-start;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-right: 4rem;
        .trailer{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            img{
                height:70%;
                width: 100%;
                object-fit: cover;
                border-top-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }
            .watchTrailer{
                position: absolute;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                color: white;
                i{
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    background-color: gray;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                p{
                    font-size: 2rem;
                }
            }
        }
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            justify-self: flex-start;
            flex-direction: row;
            height: auto;
        }
    }
}
@media screen and (max-width: 900px) {
    .movieDetailsContainer{
        .sideBar{
            .logo{
                width: 100%;
                flex-direction: column;
            }
            
        }
        .moviePage{
            height: 100%;
            width: 70%;
            margin-right: 1rem;
            .trailer{
                height: 100%;
                width: 100%;
                img{
                    height:50%;
                    width: 100%;
                }
                .watchTrailer{
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    p{
                        font-size: 1.3rem;
                    }
                }
            }
            .title{
                display: flex;
                align-items: flex-start;
                justify-content:flex-start;
                flex-direction: column;
            }
        }
    }
}