.cover {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredMovies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 80%;
  position: relative;
}

.featuredMovies .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.featuredMovies .header h1 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.featuredMovies .header p, .featuredMovies .header i {
  font-size: 1rem;
  color: #d61c3b;
  cursor: pointer;
}

.featuredMovies .cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.featuredMovies .cards a {
  text-decoration: none;
  color: inherit;
}

.featuredMovies .cards .error {
  font-family: 'Poppins', sans-serif;
  color: #db1313;
  position: absolute;
  top: 50%;
  left: 30%;
  font-weight: bolder;
}

.featuredMovies .cards .cardContainer {
  min-height: 18rem;
  padding-bottom: 1rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2rem;
}

.featuredMovies .cards .cardContainer .poster {
  height: 18rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.featuredMovies .cards .cardContainer .poster .notFavorite {
  position: absolute;
  color: rgba(190, 189, 189, 0.7);
  top: 5%;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.5);
  left: 70%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredMovies .cards .cardContainer .poster .Favorite {
  color: rgba(251, 40, 40, 0.7);
}

.featuredMovies .cards .cardContainer .poster img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featuredMovies .cards .cardContainer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.featuredMovies .cards .cardContainer .information h2 {
  height: 1rem;
  font-size: 1rem;
  line-height: normal;
}

.featuredMovies .cards .cardContainer .information p {
  font-size: .8rem;
}

@media screen and (max-width: 900px) {
  .featuredMovies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100vh;
    position: relative;
    width: 80%;
  }
  .featuredMovies .cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    width: 100%;
  }
  .featuredMovies .cards .cardContainer {
    min-height: 10rem;
    padding-bottom: 1rem;
    width: 80%;
  }
  .featuredMovies .cards .cardContainer .poster {
    height: 10rem;
    width: 100%;
    position: relative;
  }
  .featuredMovies .cards .cardContainer .poster i {
    position: absolute;
    font-size: .6rem;
    left: 60%;
    height: 1.2rem;
    width: 1.2rem;
  }
  .featuredMovies .cards .cardContainer .information h2 {
    font-size: .7rem;
    -webkit-text-size-adjust: 1rem;
       -moz-text-size-adjust: 1rem;
        -ms-text-size-adjust: 1rem;
            text-size-adjust: 1rem;
    line-height: .8rem;
  }
  .featuredMovies .cards .cardContainer .information p {
    font-size: .6rem;
  }
}
/*# sourceMappingURL=FeaturedMovie.css.map */