.container{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    p{
        font-size: 2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}